*{
    margin: 0 auto;
    padding: o auto;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
    transition: all 0.7s ease;
}
.wrapper{
    text-align: center
}
.wrapper h1{
    margin-bottom: 20px;

}
.wrapper p{
    margin-bottom: 20px;
    
}